{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Business Frontpage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        {% include 'components/navbar.html' %}
        {% include 'components/header.html' %}
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <p>Захист інтересів та прав людини, у тому числі і в суді, це головна задача будь-якого адвоката. Рідко такий захист стосується кримінального права набагато частіше адвокати допомагають людям у повсякденному життя – наприклад, у сфері податків, чи розлученні.</p>

                <p>Завдяки сучасним технологіям тепер можливо не тільки особиста консультація з юристом, але й вас може вислухати та надати пораду адвокат онлайн. Таким чином вам не потрібно буде втрачати час на дорогу у офіс юридичної компанії, або на чергу. В нашій юридичній фірмі можливі консультації зі спеціалістами як особисто, так і за допомогою сучасних технологій та комп’ютерних програм. Консультація може бути також у письмовій формі.</p>

                <p>В яких випадкам ми можемо допомогти?<p/>

                <p>Консультація адвоката буде корисною у майже будь-якій діяльності, для фізичних та юридичних осіб. Наші адвокати допоможуть вам у питаннях:</p>
                <ul>
                    <li>Кримінального права.</li>
                    <li>Господарського.</li>
                    <li>Адміністративного.</li>
                    <li>Громадянського.</li>
                    <li>Земельного.</li>
                    <li>Сімейного</li>
                    <li>Тощо.</li>
                </ul>
            </div>
        </section>

        {% include 'components/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
