{% extends "components/base.html" %}


{% block content %}
    <!-- Features section-->
    <section class="py-5 border-bottom" id="services">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Послуги адвоката</h2>
                    <p>Найняти кращого адвоката/отримати адвокатські послуги за найвигіднішою ціною Ви можете тільки тут ✔Швидке оформлення ✔Досвідчені юристи. Тисніть прямо зараз!</p>
                    <a class="text-decoration-none" href="{% url 'services-lawyer-info' %}">
                        Детальніше
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">Ліцензії/дозволи</h2>
                    <p>Замовити ліцензію на будівельну діяльність/охорону власності і майна/продаж алкоголю та тютюнових виробів Ви можете тільки тут</p>
                    <a class="text-decoration-none" href="{% url 'services-licenses-info' %}">
                        Детальніше
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h4 fw-bolder">Реєстраційні послуги</h2>
                    <p>Реєстраційні послуги для юридичних осіб та ФОП Замовити реєстраційні послуги «під ключ»: реєстрація/зміни фізичної особи-підприємця/ТОВ/громадських та благодійних організацій</p>
                    <a class="text-decoration-none" href="{% url 'services-registration-info' %}">
                        Детальніше
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing section-->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Pay as you grow</h2>
                <p class="lead mb-0">With our no hassle pricing plans</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Free</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$0</span>
                                <span class="text-muted">/ mo.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>1 users</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    5GB storage
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Unlimited public projects
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Community access
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    Unlimited private projects
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    Dedicated support
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    Free linked domain
                                </li>
                                <li class="text-muted">
                                    <i class="bi bi-x"></i>
                                    Monthly status reports
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card pro-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold">
                                <i class="bi bi-star-fill text-warning"></i>
                                Pro
                            </div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$9</span>
                                <span class="text-muted">/ mo.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>5 users</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    5GB storage
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Unlimited public projects
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Community access
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Unlimited private projects
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Dedicated support
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Free linked domain
                                </li>
                                <li class="text-muted">
                                    <i class="bi bi-x"></i>
                                    Monthly status reports
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-primary" href="#!">Choose plan</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card enterprise-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Enterprise</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$49</span>
                                <span class="text-muted">/ mo.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>Unlimited users</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    5GB storage
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Unlimited public projects
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Community access
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Unlimited private projects
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Dedicated support
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>Unlimited</strong>
                                    linked domains
                                </li>
                                <li class="text-muted">
                                    <i class="bi bi-check text-primary"></i>
                                    Monthly status reports
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Відгуки про нас</h2>
                <p class="lead mb-0">Дізнайтеся, що про нас думають</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    {% for feedback in feedbacks %}

                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1" style="display:inline-block; word-break:break-word;">{{ feedback.text }}</p>
                                        <div class="small text-muted">- {{ feedback.user_name }}, {{ feedback.rating }}, ({{ feedback.published_at }})</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Feedback section-->
    <section class="bg-light py-5">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h2 class="fw-bolder">Написати відгук</h2>
                <p class="lead mb-0">Напишіть, що ви думаєте про нас і нашу роботу</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <form id="contactForm" method="post">
                    {% csrf_token %}

                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            {{ feedback_form.user_name.errors }}
                            {{ feedback_form.user_name }}
                            <label for="{{ feedback_form.user_name.id_for_label }}">Ім'я</label>
                        </div>

                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            {{ feedback_form.text.errors }}
                            {{ feedback_form.text }}
                            <label for="{{ feedback_form.text.id_for_label }}">Текст</label>
                        </div>
                        <!-- Rating input-->
                        <div class="form-floating mb-3">
                            {{ feedback_form.rating }}
                            <label for="{{ feedback_form.rating.id_for_label }}">Оцінка</label>
                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <!-- Submit success message-->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">{{ message }}</div>
                                    </div>
                                </div>
                                {% endif %}
                                <!-- Submit error message-->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div id="submitErrorMessage"><div class="text-center text-danger mb-3">{{ message }}</div></div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- Submit Button-->
                        <div class="d-grid"><input class="btn btn-primary btn-lg" id="submitButton" type="submit" value="Надіслати"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact information section-->
    <section class="bg-light py-5">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h2 class="fw-bolder">Зв'яжіться з нами</h2>
                <!--<p class="lead mb-0">Напишіть, що ви думаєте про нас і нашу роботу</p>-->
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <form id="contactForm" method="post">
                    {% csrf_token %}

                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            {{ contact_form.user_name }}
                            <label for="{{ feedback_form.user_name.id_for_label }}">Ім'я</label>
                        </div>

                        <!-- Email input-->
                        <div class="form-floating mb-3">
                            {{ contact_form.email }}
                            <label for="{{ feedback_form.text.id_for_label }}">Електронна пошта</label>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            {{ contact_form.message }}
                            <label for="{{ feedback_form.rating.id_for_label }}">Повідомлення</label>
                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <!-- Submit success message-->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">{{ message }}</div>
                                    </div>
                                </div>
                                {% endif %}
                                <!-- Submit error message-->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div id="submitErrorMessage"><div class="text-center text-danger mb-3">{{ message }}</div></div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- Submit Button-->
                        <div class="d-grid"><input class="btn btn-primary btn-lg" id="submitButton" type="submit" value="Надіслати"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 border-top" id="contacts">
        <div class="text-center mb-5">
            <p>Адреса:<br />
            м. Київ<br />
            вул. Оболонська, 13/15 оф. 57
            </p>

            <p>
            Email:<br />
            lawflagman@gmail.com
            </p>

            <p>
            Телефони:<br />
            (044) 221-44-54<br />
            (068) 629-12-12<br />
            (093) 629-12-12
            </p>
        </div>
    </section>
{% endblock %}
