{% extends "components/base.html" %}

{% block content %}
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <p>Захист інтересів та прав людини, у тому числі і в суді, це головна задача будь-якого адвоката. Рідко такий захист стосується кримінального права набагато частіше адвокати допомагають людям у повсякденному життя – наприклад, у сфері податків, чи розлученні.</p>

            <p>Завдяки сучасним технологіям тепер можливо не тільки особиста консультація з юристом, але й вас може вислухати та надати пораду адвокат онлайн. Таким чином вам не потрібно буде втрачати час на дорогу у офіс юридичної компанії, або на чергу. В нашій юридичній фірмі можливі консультації зі спеціалістами як особисто, так і за допомогою сучасних технологій та комп’ютерних програм. Консультація може бути також у письмовій формі.</p>

            <p>В яких випадкам ми можемо допомогти?<p/>

            <p>Консультація адвоката буде корисною у майже будь-якій діяльності, для фізичних та юридичних осіб. Наші адвокати допоможуть вам у питаннях:</p>
            <ul>
                <li>Кримінального права.</li>
                <li>Господарського.</li>
                <li>Адміністративного.</li>
                <li>Громадянського.</li>
                <li>Земельного.</li>
                <li>Сімейного</li>
                <li>Тощо.</li>
            </ul>
        </div>
    </section>
{% endblock %}
