{% extends "components/base.html" %}

{% block content %}
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <p>Найбільш повний перелік документів які необхідно додати до заяви на отримання ліцензії, а також вимоги щодо матеріально – технічного забезпечення ліцензіата, містять ліцензійні умови охоронної діяльності. Отримати ліцензію можна тільки в Міністерстві внутрішніх справ України, видається документ в паперовому форматі уповноваженою особою. Відповідний запис про надання ліцензії вноситься до ЄДРПОУ. Обов’язковою умовою є оформлення копії ліцензії, відповідно ліцензійних умов провадження охоронної діяльності.</p>

            <p>Щоб отримати ліцензію, необхідно подати такі документи:</p>
            <ul>
                <li>заяву, відповідно затвердженої форми;</li>
                <li>документ, в якому вказано кількість охорони;</li>
                <li>інші.</li>
            </ul>

            <p>Швидко та якісно, без вистоювання довгих черг, виконати ліцензування охоронної діяльності допоможуть кваліфіковані спеціалісти нашої юридичної компанії «Флагман». Ми надаємо якісні юридичні послуги фізичним та юридичним особам Києва та інших населених пунктів України. Для отримання ліцензії на виконання охоронної діяльності клієнтам необхідно зв’язатися з нами, надати необхідні документи. Процедура ліцензування буде пройдена без бюрократичних зволікань та зайвих витрат.</p>
        </div>
    </section>
{% endblock %}
